@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto";
  background: #f9f9f9;
  color: #2e2e2e;
}

.container {
  padding: 3rem;
}

h2 {
  padding: 2rem 0;
}

.img-fit {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

input {
  border: 1px solid lightgrey;
  border-radius: 6px;
  position: relative;
  margin: 11px 0px;
  line-height: 5ex;
}

.modal-dialog {
  justify-content: center;
}

@media (max-width: 990px) {
  .intro {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .row {
    justify-content: center !important;
  }
}
.img-container {
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background: white;
  height: 100%;
  position: relative;
}
.img-container:hover {
  scale: 1.1;
  transition: 0.5s;
  cursor: pointer;
}
.img-container:not(:hover) {
  scale: 1;
  transition: 0.5s;
}

.caption {
  padding: 16px 16px 0px 16px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #2e2e2e;
}
a:hover {
  text-decoration: none;
  color: #2e2e2e;
  cursor: pointer;
}

.arrow {
  max-width: 20px;
  height: 100%;
  max-height: 24px;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #2e2e2e;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fright {
  float: right;
}

.pointer {
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
}

.customText {
  font-weight: 100;
}

.dragging {
  border: 2px solid green;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border-radius: 50%;
  padding: 16px;
}

@media (max-width: 610px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  .arrow-right {
    position: absolute;
    top: 50%;
    right: 0px;
    transform-origin: center;
    transform: translateY(-50%) rotate(180deg);
  }
}
@media (min-width: 610px) {
  .arrow-right {
    position: absolute;
    top: 50%;
    right: -30px;
    transform-origin: center;
    transform: translateY(-50%) rotate(180deg);
  }
}
@media (min-width: 610px) {
  .arrow-left {
    left: -30px;
  }
}
.arrow-left img,
.arrow-right img {
  position: relative;
  z-index: 1;
}

.next-arrow {
  width: 25px;
  height: 15px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.blink {
  animation: blink 2s infinite;
}

.center-loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-size {
  margin-bottom: 30px;
  width: 232px;
  height: 240px;
}

.row-class {
  display: grid;
  grid-template-columns: repeat(auto-fit, 232px);
  gap: 30px;
  justify-content: flex-start;
  margin: 0px;
}

.text-opacity {
  opacity: 0.6;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}/*# sourceMappingURL=styles.css.map */